{{#if user}}
<section style="background-color: #474e5d;color: white;" class="container pb-3">
  <h4 style="color: white;" class="text-center mb-3 mt-3">Gurudhakshina <span style="color: orange;"> Online Payment</span></h4>
  <p style="color: white;" class="text-center">Rashtriya <span style="color: orange;"> Swayam </span> Seva <span style="color: orange;"> Sangh </span> Thiruvanvadoor</p>
  <h6 style="color: white;" class="text-left" id="date"></h6>
  <div class="container">
      <form class="mt-5 container" id="gurudhakshinaForm">
  <div class="form-group">
    <label for="exampleFormControlInput1">Name</label>
    <input type="text" value="{{#if user}}{{user.name}}{{/if}}" class="form-control" id="exampleFormControlInput1" name="name" placeholder="Your Name" required>
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Phone Number</label>
    <input type="text" value="{{#if user}}{{user.phone}}{{/if}}" class="form-control" id="exampleFormControlInput1" name="phone" placeholder="Your Phone Number" required>
  </div>
    <div class="form-group">
    <label for="exampleFormControlInput1">Place</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="place" placeholder="Place" required>
  </div>
      <div class="form-group">
    <label for="exampleFormControlInput1">Age</label>
    <input type="text" value="{{#if user}}{{user.age}}{{/if}}" class="form-control" id="exampleFormControlInput1" name="age" placeholder="Age.." required>
  </div>
      <div class="form-group">
    <label for="exampleInputEmail1">Blood</label>
    <select name="blood" class="form-control" required>
        <option value="" disabled selected>Choose Your Blood Group...</option>
        <option>A+ve</option>
        <option>A-ve</option>
        <option>B+ve</option>
        <option>B-ve</option>
        <option>AB+ve</option>
        <option>AB-ve</option>
        <option>O+ve</option>
        <option>O-ve</option>
    </select>
  </div>
  <div class="form-group">
      <label for="exampleFormControlInput1">Address</label>
      <textarea name="address"  style="width: 100%;height: 100px;"  class="form-control" id="exampleFormControlInput1" placeholder="Type Your Address Here..." required></textarea>
  </div>
        <div class="form-group">
    <label for="exampleFormControlInput1">Your Gurudhakshina</label>
    <input type="number"  class="form-control" id="exampleFormControlInput1" name="amount" placeholder="₹ Gurudhakshina.." required>
  </div>
  <input type="hidden" name="paymentId" id="paymentId" value="{{user._id}}">
  <input type="hidden" name="status" id="status" value="Pending">
  <input type="text" style="display: none;"  name="date1" id="date1">
  <input type="text" name="time" id="time" style="display: none;">
  <div class="form-group">
  <input type="submit" onclick="change_Text_Sub()" value="Submit"  id="submitbtn" class="form-control btn btn-color" id="exampleFormControlInput1">
  <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_HWtgdV021KR52A" async> </script> </form>
  </div>
</form>
  </div>
</section>
{{else}}
<section class="container text-center">
<h5>Rss <span style="color: orange;">Tvndr</span> App <span style="color: orange;">Payment</span><img src="/images/tick1.jpg" class="img-fluid" width="50px" height="50px" alt="tick"></h5>
<small>Safe & Secure Payment</small>
<p class="mt-4 text-center">നമസ്തെ, താങ്കൾ ഈ Appill login ചെയ്തിട്ടില്ല ,Rss Tvndr AppiII login ചെയ്യാതെ താങ്കൾക്ക്  Online Security Reason കാരണം  Online Payment നടത്തുവാൻ സാധിക്കില്ല, താങ്കൾക്ക് ഈ Appill മുമ്പ് ഒരു Account ഉണ്ടെങ്കിൽ Login ബട്ടൺ Click ചെയ്യുക, ഇല്ലെങ്കിൽ Signup ബട്ടൻ Click ചെയ്യുക.</p>
<div class="text-center">
<a href="/login" class="btn btn-color mb-2">Login Alreday Have A Account</a><br>
<a href="/signup" class="btn btn-color mt-2">Sign Up I Am Not Registered</a>
  </div>
</section>

<script>
  let logged = localStorage.getItem("logged");
  setTimeout(()=>{
  if(logged === "true"){
  window.location.href = "https://rsstvndrapp.herokuapp.com/login";  
  }else{
      window.location.href = "https://rsstvndrapp.herokuapp.com/signup";  
  }
  },8000)
</script>

{{/if}}


<script>
  var date = new Date();
  var tdate = date.getDate();
  var tmonth = date.getMonth() + 1 ;
  var tyear = date.getFullYear();
  var hour = date.getHours();
  var minute = date.getMinutes();
  var second = date.getSeconds();
  document.getElementById('date1').value =  tdate  + "/" + tmonth + "/" + tyear;
  document.getElementById('time').value =  hour  + ":" + minute + ":" + second;
</script>

<script>
  var elem =  document.getElementById("submitbtn");
  function change_Text_Sub(){
      elem.value = "Loading..."
  }
</script>
