<section class="container">
    <div class="container text-center">

      <h5 class="mt-2">Rss Tvndr <span style="color: orange;"> App Notifcations</span></h5>
      <h6 class="text-center text-fluid"> <i class="fas fa-user-alt" style="left: 0;padding-right: 3px;"> </i>  Personal Notifications {{#if Pcount}} ({{Pcount}}) {{else}} (0) {{/if}}</h6>
      <h6 class="text-center text-fluid"><i class="fas fa-flag" style="left: 0;padding-right: 3px;"></i>  Site Notifications {{#if Scount}} ({{Scount}}) {{else}} (0) {{/if}}</h6>


      <div class="personal-notification container">
        {{#if Pnotify}}
        {{#each Pnotify}}
        <div class="row">
          <div class="card w-100 text-center mb-4"
            style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
            <div class="card-body container">
              <h4 class="card-title mt-3">{{this.title}}</h4>
              <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
              <p class="card-text">{{this.description}}</p>
              <small>About: {{this.about}}</small>
              <marquee behavior="" direction="">{{this.marquee}}</marquee>
              <div class="text-center mb-3"><a href="/rss-ghosh/register" class="btn btn-color w-50">Register</a></div>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <h6 class="text-center">No Notifications</h6>
        {{/if}}
      </div>




      <div class="site-notification container">
        {{#if Snotify}}
        {{#each Snotify}}
        <div class="row">
          <div class="card w-100 text-center mb-4"
            style="background-color:rgba(255, 255, 255, 0.411);background-image: url('/images/vam.png');background-repeat: no-repeat;background-size: contain;background-position: center;">
            <div class="card-body container">
              <h4 class="card-title mt-3"> Rss <span style="color: #ec650b;">Ghosh</span></h4>
              <h6 class="card-subtitle mb-2 text-muted">By, Rss Tvndr</h6>
              <p class="card-text">നമസ്‌തെ,{{user.name}} താങ്കൾ Rss Tvndr അവതരിപ്പിക്കുന്ന ഓൺലൈൻ ഘോഷ് Clasill Register
                ചെയ്തിട്ടില്ല.</p>
              <marquee behavior="" direction="">താഴെ കാണുന്ന ബട്ടൺ ക്ലിക്ക് ചെയ്തു രജിസ്റ്റർ ചെയ്തതിനു ശേഷം ക്ലാസ്സിൽ
                Join
                ചെയ്യുക.</marquee>
              <div class="text-center mb-3"><a href="/rss-ghosh/register" class="btn btn-color w-50">Register</a></div>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <h6 class="text-center">No Notifications</h6>
        {{/if}}
      </div>

  </div>
</section>